#wikibody{width:90%;margin:auto;
}
#header,#footer{margin:10px 0;padding:0px!important;width:auto;}

#header{
	height:99px;
	background: #DDDDDD url(images/40badge.png) no-repeat right;
}
#header2
{
	width: 80%;
	float: right;
}
#header .pagename{clear:left;}
#header .searchbox{margin-top:-24px;margin-right:.25em;}
* html #header .searchbox{margin-top:0;}
#footer{margin-top:1em;margin-bottom:2em;}

#favorites{
	margin-top:0 !important;
	background-color: #DDDDDD;
	padding-top:  5px;
	padding-left: 8px;
	top: 125px;
	position: absolute;
	width: 16%;
}

#favorites div.userbox
{
	display: none !important;
}

#favorites div.leftmenu a.createpage, #favorites div.leftmenufooter a.createpage, #favorites div.leftmenu a.wikipage, #favorites div.leftmenufooter a.wikipage 
{
	border: none !important;
}

#favorites div.leftmenu a.createpage:hover, #favorites div.leftmenufooter a.createpage:hover {
	border-bottom: 1px dashed red !important;
}

#favorites div.leftmenu a.wikipage:hover, #favorites div.leftmenufooter a.wikipage:hover {
	border-bottom: 1px solid red !important;
}



div.pagename
{
	width: 65%;
	padding-right: 10px;
}

div.titlebox
{
	display: none;
}

#query
{
	position: relative;
	float: right;
	width: 28% !important;
}

.userbox
{
	padding: 0px;
	display: block !important;
	right: 0;
	float: right;
	top: 30px;
	clear: right;
	text-align: right;
}

.username {
	display: block;
	padding-left: 25px;
}

.username.anonymous{
	background:url(images/user.png) 2px 2px no-repeat;
}

.username.asserted{
	background:url(images/user_orange.png) 2px 2px no-repeat;
}

.username.authenticated{
	background:url(images/user_green.png) 2px 2px no-repeat;
}

a.action.login, a.action.logout
{
	float: none;
	clear: none;
	display: inline-table;
	width: 30px;
	font-size: 75%;
	font-weight: bold;
	position: relative;
}

a.action.prefs
{
	font-size: 75%;
	font-weight: bold;
	display: inline-table;
	float: none;
	clear: none;
}


/**{color:#666;}*/
#header .pagename{color:white;}
div.toc
{
	width: 100% !important;
}


h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.0em;}
.editsection a:link,.editsection a:active,.editsection a:visited{border:none;color:#ccc;}
.editsection a:hover{color: #f7f7f7;
	background-color: orange;
}
legend,label{font-weight:bold;font-size:100%;color: orange;}
.hr,hr{border:none;background-color:#ccc;height:2px;width:100%;}
pre{border:1px dashed #b6b6b6;background-color: orange;}
a:link,a:visited,a:active{
	color:inherit;
	text-decoration:none;
	border-bottom:1px solid silver;
}
a.createpage{color:#666;border-bottom:1px dashed silver;}
a.createpage:hover{border-bottom:1px dashed red;}
a.wikipage:hover, a.external:hover{border-bottom:1px solid red;}

a.hashlink
{
	display:  none !important;
}

.calendar a,.breadcrumbs a,.applicationlogo a{border-bottom:none!important;}

#header .applicationlogo{
	position:static;
	float:left;
	}
.applicationlogo a{
	height:42	px;
	width:120px;
	margin:43px 0 0 10px;
	background-image:url(images/foundationLogo.png);
	background-position:top left;
	}
.applicationlogo a:hover{background-position:top left;}
#header .companylogo {
}
.companylogo a{
	height:  98px;
	width:	131px;
}
.additinfo{background-color: orange;}
.commentbox{border:1px dashed #b6b6b6;background-color:#fff7c0;}
.wikitable * th{padding:4px;color: orange;border:1px solid #ccc;}
.wikitable * td{padding:4px;border:1px solid #ccc;}
.zebra-table tr.odd td{background:#f7f7f7;}
.textarea-resizer{background:#fad112;}
#findSuggestionMenu{color: orange;background-color: #f7f7f7;border:4px solid #fad112;}
#findSuggestionMenu .hover{background-color:#fff7c0;}

.breadcrumbs{padding:0 10px 10px 0;height:1.5em;overflow:hidden;}
.searchword,.cursor,.searchmatch{background-color: orange;}
.graphBar{border-color:#fad112;}
.copyright{
	font-weight: bold;
	font-size: 75%;
}

div.wikiversion
{
	font-size: 75%;
}


.breadcrumbs,.breadcrumbs a:link,.breadcrumbs a:visited,.breadcrumbs a:active{color:white!important;}
.pagination{color: orange;background:#d7d7d7;border:1px solid #ccc;}
.pagination a:hover{background-color: orange;}
.pageactions a:link,.pageactions a:visited{
	font-weight: bold;
	font-size: 50%;
	}
#moremenu a:hover,a.action:hover,.userbox a.action:hover,a.action.quick2bottom:hover,a.action.quick2top:hover{
	color: orange;
	}
a.tool:hover,.btn:hover{background-color: orange;}
.banner{background-image:url(images/header-bg.gif);color:white;}
.banner h2,.banner h3,.banner h4{color:white;padding:.5em .25em;}
#sneakpreviewheader{background-color:#fff7c0;}
#searchSubmit{background:url(../../images/search.png) no-repeat center;}
#header a:link,#header a:visited,#recentSearches{color:#666;}
#recentSearches div{color:#666;text-decoration:none;}
#searchboxMenu{border:1px solid #b6b6b6;top:3em;}
#searchTools a:hover,#searchboxMenu li:hover{background:#fad112;}
.index .header{color: orange;background:#f7f7f7;font-weight:bold;}
div.index .section a{color: orange;}
.toc h4{background:transparent;color:#666;font-size:120%;}
.toc li a{color:#666;border-bottom:none;text-decoration:none;}
.weblogentryheading,.weblogentrytitle{background: orange;}
.weblogentrytitle{color: orange;}
.weblogentryfooter{background:transparent;border-top:1px solid #b6b6b6;}
.weblogcommentstitle{background: orange;border-bottom:2px solid #fad112;margin:0;}
.weblogcomments{background: orange;margin:0;}
table.recentchanges td{border-bottom:1px solid #ccc;}
table.recentchanges .date{background-color:white!important;border-bottom:2px solid #fad112;}
table.calendar td.othermonth{color:silver;}
table.calendar a{color: orange;font-weight:bold;}
table.calendar td.month{font-size:100%;}
table.calendar td.weekdays{font-size:.8em;padding:0 .2em;color: orange;}
.tabs{border: none;/*1px solid #b6b6b6;*/}
.tabmenu a{border:1px solid silver; margin:0 0 -1px 4px;}
.tabmenu a:hover,.tabmenu a:hover u,.tabmenu a:hover .accesskey{color: orange;background:#f7f7f7;}
/*.tabmenu a.activetab{border-bottom:1px solid white;}*/
/*.tabmenu a.activetab,.tabmenu a.activetab u{color:#666;}*/
.accordion .toggle{border:2px solid #fff7c0;background: orange;font-size:11px;}
.accordion,.tabbedAccordion{border:1px solid #b6b6b6;}
.togglemenu .toggle{border:1px solid #b6b6b6;margin-left:4px;}
.accordion .toggle:hover,.togglemenu .toggle:hover{color: orange;background:#f7f7f7;}
.tip-anchor{border-bottom:2px solid #fad112;}
.tip-title,.tip-text{margin:0;padding:4px 8px 8px;background: orange;}
.collapseBullet,.collapseOpen,.collapseClose{color: red;}
.collapseOpen:hover,.collapseClose:hover{
	background: orange;
	color: red;
}
.collapsebox{border:1px solid #b6b6b6;}
.collapsetitle:hover{background: orange;}
.quicklinks{font-size:12px;padding:0 2px;}
.quicklinks,.quicklinks a{background: #f7f7f7;color: orange;border:none;}
.categoryPopup{border:3px solid #fad112;}
.categoryTitle,.categoryText{background: orange;}
.categoryPopup .hover{background: orange;}
.categoryLink:link,.categoryLink:active,.categoryLink:hover,.categoryLink:visited{border-bottom:2px solid #fc3!important;}
.categoryPopup a:link,.categoryPopup a:active,.categoryPopup a:visited{color:inherit;}